<html>

<%- await include('Frontend/partial/head.ejs', { title: 'Welcome' }) %>

    <body>
        <%- await include('Frontend/partial/header.ejs') %>

            <%- await include('Frontend/partial/footer.ejs')%>

    </body>

</html>